<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../include/title.ejs') %>

    <link href="/css/chat/chatList.css" rel="stylesheet" type="text/css">
    
</head>
<body>

    <%- include('../include/header.ejs') %>
    <%- include('../include/nav.ejs') %>

    <article>
        <div class="article_wrap">
            <div class="title">
                <h4>회원 문의 내역</h4>
            </div>
            <div class="content">
                <ul id="chatList">
                    <% if (chattingRooms.length > 0) { %>
                        <% chattingRooms.forEach(function(room) { %>
                            <li data-room-id="<%= room.ISADMINCHAT ? room.AC_NO : room.CH_NO %>">
                                <a href="/chat/chatA/<%= room.AC_NO %>">
                                    <img src="http://14.42.124.92:3001/<%= room.AC_USER_ID %>/<%= room.U_PROFILE_THUM %>" alt="프로필" class="profile-image">
                                    <div class="chat-info">
                                        <div class="chat-name"><%= room.AC_USER_NICK %></div>
                                    </div>
                                    <div class="chat-info">
                                        <div class="chat-last-message"><%= room.AC_TITLE %></div>
                                    </div>
                                    <div class="chat-time"><%= room.lastMessageTime %></div>
                                    <% if (room.AC_UNREAD_COUNT > 0) { %>
                                        <span class="unread-badge"><%= room.AC_UNREAD_COUNT %></span>
                                    <% } %>
                                </a>
                            </li>
                        <% }); %>
                    <% } else { %>
                        <li>참여 중인 채팅방이 없습니다.</li>
                    <% } %>
                </ul>
            </div>
        </div>
    </article>
    
    <%- include('../include/footer.ejs') %>

</body>
</html>
