<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../include/title.ejs') %>
    <link href="/css/admin/sign_in_form.css" rel="stylesheet" type="text/css">
    <script src="/js/admin/sign_up_form.js"></script>
</head>
<body>

    <%- include('../include/header.ejs') %>
    <%- include('../include/nav.ejs') %>
    
    <article>
        <div class="article_wrap">
            <div class="title">
                <h4>관리자 로그인</h4>
            </div>
            <div class="content">
                <form action="/admin/sign_in_confirm" name="sign_in_form" method="post">
                    <input type="text" name="a_id" placeholder="INPUT ID"><br>
                    <input type="password" name="a_pw" placeholder="INPUT PW"><br>
                    <%
                        if (errMsg !== undefined) {
                    %>
                            <%= errMsg %><br>
                    <%
                        }
                    %>
                    <input type="button" value="SUBMIT" onclick="signinForm();">
                    <input type="reset" value="RESET">
                </form>
            </div>
        </div>
    </article>

    <%- include('../include/footer.ejs') %>
</body>
</html>