<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../include/title.ejs') %>
    <link href="/css/admin/userlist.css" rel="stylesheet" type="text/css">
    <link href="/css/include/pagination.css" rel="stylesheet" type="text/css">
    <script src="/js/admin/edit_user_modal.js"></script>
</head>
<body>
    <%- include('../include/header.ejs') %>
    <%- include('../include/nav.ejs') %>

    <div class="userlist_wrap">
        <h2>유저 리스트</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>닉네임</th>
                    <th>전화번호</th>
                    <th>활동상태</th>
                    <th>등록일</th>
                    <th>수정일</th>
                    <th>등급</th>
                    <th>포인트</th>
                    <th>패널티</th>
                    <th>정지일</th>
                    <th>해제일</th>
                    <th>포인트수정</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                    <tr>
                        <td><%= user.U_ID %></td>
                        <td><%= user.U_NICK %></td>
                        <td><%= user.U_PHONE %></td>
                        <td>
                            <% 
                            let active; 
                            switch (user.U_ACTIVE) {
                                case 0: active = '삭제된 계정'; break;
                                case 1: active = '활동중'; break;
                                case 2: active = '정지'; break;
                                default: active = 'UNKNOWN'; 
                            }
                            %>
                            <%= active %>
                        </td>
                        <td><%= user.U_REG_DATE.toISOString().split('T')[0] %></td>
                        <td><%= user.U_MOD_DATE.toISOString().split('T')[0] %></td>
                        <td>
                            <% 
                            let grade; 
                            switch (user.U_CLASS) {
                                case 0: grade = 'UNRANK'; break;
                                case 1: grade = 'IRON'; break;
                                case 2: grade = 'BRONZE'; break;
                                case 3: grade = 'SILVER'; break;
                                case 4: grade = 'GOLD'; break;
                                case 5: grade = 'PLATINUM'; break;
                                case 6: grade = 'DIAMOND'; break;
                                default: grade = 'UNRANK'; 
                            }
                            %>
                            <%= grade %>
                        </td>
                        <td><%= user.U_POINT %></td>
                        <td><%= user.U_PENALTY %></td>
                        <td>
                            <% if (user.U_ACTIVE === 2) { %>
                                <%= user.U_BAN_START_DATE ? user.U_BAN_START_DATE.toISOString().split('T')[0] : '' %>
                            <% } else { %>
                                <%= '' %>
                            <% } %>
                        </td>
                        <td>
                            <% if (user.U_ACTIVE === 2) { %>
                                <%= user.U_BAN_END_DATE ? user.U_BAN_END_DATE.toISOString().split('T')[0] : '' %>
                            <% } else { %>
                                <%= '' %>
                            <% } %>
                        </td>
                        <td>
                            <button 
                                data-id="<%= user.U_ID %>" 
                                data-point="<%= user.U_POINT %>" 
                                data-penalty="<%= user.U_PENALTY %>" 
                                onclick="openEditModal(this)">수정</button>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <%- include('../include/pagination.ejs', {
            currentPage: pagination.currentPage,
            totalPages: pagination.totalPages,
            pageRange: pagination.pageRange,
            baseUrl: pagination.baseUrl
        }) %>
    </div>

    <div id="editModal" style="display: none;">
        <form id="editForm">
            <label for="userId">유저 ID:</label>
            <input type="text" id="userId" readonly>
            
            <label for="userPoint">유저 포인트:</label>
            <input type="number" id="userPoint" min="0">
            
            <label for="userPenalty">유저 패널티:</label>
            <input type="number" id="userPenalty" min="0">
            
            <button type="submit">저장</button>
            <button type="button" onclick="closeEditModal()">취소</button>
        </form>
    </div>

    <%- include('../include/footer.ejs') %>
</body>
</html>
