<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../include/title.ejs') %>
    <link href="/css/event/events.css" rel="stylesheet" type="text/css">
    <link href="/css/include/pagination.css" rel="stylesheet" type="text/css">

    <script src="/js/event/list.js"></script>

</head>
<body>
    <%- include('../include/header.ejs') %>
    <%- include('../include/nav.ejs') %>

    <article>
        <div class="events_wrap">
            <h2>이벤트 목록</h2>
            <table>
                <thead>
                    <tr>
                        <th>제목</th>
                        <th>이미지</th>
                        <th>설명</th>
                        <th>시작일</th>
                        <th>종료일</th>
                        <th>상태</th>
                        <th>관리</th>
                    </tr>
                </thead>
                <tbody>
                    <% events.forEach(event => { %>
                        <tr>
                            <td><%= event.E_TITLE %></td>
                            <td><img src="/<%= event.E_NO %>/<%= event.E_IMAGE %>" alt="<%= event.E_TITLE %>" width="100" /></td>
                            <td><%= event.E_DESC %></td>
                            <td><%= event.E_START_DATE %></td>
                            <td><%= event.E_END_DATE %></td>
                            <td>
                                <% const endDate = new Date(event.originalEndDate); %>
                                <% const isExpired = endDate < new Date(); %>
                                <form action="/event/event_status/<%= event.E_NO %>" method="POST" style="display:inline;"
                                        onsubmit="return confirmStatusChange(event, `<%= event.E_ACTIVE === 1 ? '비활성화' : '활성화' %>`, `<%= isExpired ? 'true' : 'false' %>`);">
                                    <button type="submit">
                                        <%= event.E_ACTIVE === 1 ? '활성화' : '비활성화' %>
                                    </button>
                              </form>
                            </td>
                            <td>
                                <a class="edit-link" href="/event/modify_event_form/<%= event.E_NO %>">수정</a>
                                <form action="/event/delete_event_confirm" name="delete_event_confirm" method="POST" style="display:inline;">
                                    <input type="hidden" name="eventId" value="<%= event.E_NO %>">
                                    <button type="submit" onclick="return deleteConfirm();">삭제</button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <a href="/event/register_event_form">이벤트 등록</a>
            <%- include('../include/pagination.ejs', {
                currentPage: pagination.currentPage,
                totalPages: pagination.totalPages,
                pageRange: pagination.pageRange,
                baseUrl: pagination.baseUrl
            }) %>
        </div>
    </article>

    <%- include('../include/footer.ejs') %>
</body>
</html>
